page-intro {
    .slidebutton {
        position: absolute;
        left: 35%;
        top: 85%;
        margin: auto;
    }
    .slidepic {
    }
    .slide-border {
        position: relative;
        background: #ffffff;
    }
}
